@import 'colors'
@import 'bootstrap'

body
  background-color:blue
a
  color:red
a:hover
  color:magenta
h1, h2, h3
  color:red
p
  color:brown
.main
  background-color:white
.title
  table
    width:300px
    margin-left:auto
    margin-right:auto
  td
    border:none
    padding:20
    margin:0
  td.center
    text-align:center
    vertical-align:bottom
.menu
  background-color:#26295C
  height:50px
  ul
    text-align:center
    list-style:none
    vertical-align:middle
  li
    display:inline
    padding-right:40px
    font-size:20px

.footer
  padding:20px
  text-align:center

